@page "/ProductDetails/{Id:int}"
@inherits ProductDetailsBase

@if (SushiP ==null && SetsP==null)
{
    <h3>Loading details...</h3>
}
else if (SushiP!=null)
{
    <h3 class="mb-5">Product Details</h3>
    <div class="row">
        <div class="col-md-6 mb-4">
            <img class="img-thumbnail" src="@SushiP.ImageURL">
        </div>
        <div class="col-md-6">
            <h3>Ролл @SushiP.Name</h3>
            <p class="mb-4">Количество: @SushiP.Quantity</p>
            <p class="mb-4">Вес: @SushiP.Weight</p>
            <p class="mb-4">
               Цена: @SushiP.Price.ToString("C", culture)
            </p>
            <div>
                <button class="btn-primary"
                @onclick = "() => (AddToCart_Click(new CartItemAddDto{
                    CartId=TemporaryUser.CartId,
                    ProductId=Product.Id,
                    Qty = 1
                }))"
                >
                    <b>Добавить в Корзину</b>
                </button>
            </div>
        </div>
    </div>
}
else {
    <h3 class="mb-5">Product Details</h3>
    
        <div class="col-md-6">
            <h3>@SetsP.Name</h3
                
                <img  src="@SetsP.ImageURL" width="120" height="120"/>
                
                <p class="mb-4">Всего шт: @SetsP.TotalAmount</p>
            <p class="mb-4">
                Цена: @SetsP.Price.ToString("C", culture)
            </p>
            <div>
                <button class="btn-primary"
                @onclick = "() => (AddToCart_Click(new CartItemAddDto{
                    CartId=TemporaryUser.CartId,
                    ProductId=Product.Id,
                    Qty = 1
                }))"
                >
                    <b>Добавить в Корзину</b>
                </button>
            </div>
            <div class="row mt-3">
            @foreach (var item in SetsP.Sushis)
            {
                
                <div class="col-md-6 mb-3">
                    <div class="card">
                <img class="img-thumbnail" src="@item.ImageURL">
                </div>
                </div>
            }
            </div>
            
        
    </div>
}